In [26]:
import numpy as np
import pandas as pd

In [3]:
X_culled = pd.read_excel("X_culled.xlsx")

In [4]:
X_culled.columns

Int64Index([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,
            ...
            1221, 1225, 1227, 1229, 1233, 2001, 2011, 2013, 2015, 2017],
           dtype='int64', length=179)

In [6]:
X_culled.head()

,1,2,3,4,6,7,8,9,10,11,...,1221,1225,1227,1229,1233,2001,2011,2013,2015,2017
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [8]:
X_culled.describe()

,1,2,3,4,6,7,8,9,10,11,...,1221,1225,1227,1229,1233,2001,2011,2013,2015,2017
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,...,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,0.007634,0.145038,0.007634,0.007634,0.030534,0.022901,0.091603,0.099237,0.221374,0.335878,...,0.114504,0.076336,0.038168,0.183206,0.022901,0.068702,0.022901,0.068702,0.305344,0.198473
std,0.087370,0.353491,0.087370,0.087370,0.172713,0.150161,0.289572,0.300127,0.416766,0.474109,...,0.319645,0.266554,0.192337,0.388320,0.150161,0.253918,0.150161,0.253918,0.462321,0.400381
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
#for column in X_culled.columns:
 #   print(X_culled[column].value_counts())

In [49]:
numb = np.array([[0, 0]])
for column in X_culled.columns:
    a = np.array([[column, len(X_culled[X_culled[column] == 1])]])
    numb = np.append(numb, a, axis=0)
    
def Sort(li): 
    return(sorted(li, key = lambda x: -x[1]))

Sort(numb)

[array([108,  57]),
 array([114,  55]),
 array([80, 54]),
 array([115,  54]),
 array([78, 53]),
 array([79, 52]),
 array([109,  50]),
 array([101,  49]),
 array([102,  49]),
 array([106,  49]),
 array([105,  48]),
 array([74, 47]),
 array([100,  45]),
 array([113,  45]),
 array([11, 44]),
 array([168,  44]),
 array([99, 43]),
 array([104,  42]),
 array([147,  42]),
 array([24, 41]),
 array([75, 40]),
 array([169,  40]),
 array([2015,   40]),
 array([73, 39]),
 array([25, 37]),
 array([56, 37]),
 array([28, 36]),
 array([81, 36]),
 array([173,  36]),
 array([150,  35]),
 array([116,  34]),
 array([117,  34]),
 array([124,  34]),
 array([139,  34]),
 array([111,  32]),
 array([148,  32]),
 array([174,  32]),
 array([112,  31]),
 array([140,  31]),
 array([10, 29]),
 array([82, 29]),
 array([129,  29]),
 array([167,  29]),
 array([76, 28]),
 array([103,  28]),
 array([107,  28]),
 array([144,  28]),
 array([175,  28]),
 array([12, 26]),
 array([2017,   26]),
 array([149,  25]),
 array([178,  25]),
 array([128,  24]),
 array([1229,   24]),
 array([83, 23]),
 array([95, 23]),
 array([141,  23]),
 array([130,  21]),
 array([125,  20]),
 array([145,  20]),
 array([151,  20]),
 array([ 2, 19]),
 array([47, 19]),
 array([176,  19]),
 array([23, 18]),
 array([53, 18]),
 array([66, 18]),
 array([159,  18]),
 array([96, 17]),
 array([97, 17]),
 array([123,  16]),
 array([171,  16]),
 array([48, 15]),
 array([1221,   15]),
 array([52, 14]),
 array([ 9, 13]),
 array([67, 13]),
 array([132,  13]),
 array([137,  13]),
 array([146,  13]),
 array([157,  13]),
 array([177,  13]),
 array([ 8, 12]),
 array([54, 12]),
 array([94, 12]),
 array([143,  12]),
 array([41, 11]),
 array([43, 11]),
 array([51, 11]),
 array([84, 11]),
 array([19, 10]),
 array([1225,   10]),
 array([44,  9]),
 array([50,  9]),
 array([68,  9]),
 array([2001,    9]),
 array([2013,    9]),
 array([21,  8]),
 array([26,  8]),
 array([40,  8]),
 array([70,  8]),
 array([71,  8]),
 array([85,  8]),
 array([98,  8]),
 array([110,   8]),
 array([156,   8]),
 array([158,   8]),
 array([20,  7]),
 array([37,  7]),
 array([55,  7]),
 array([17,  6]),
 array([39,  6]),
 array([42,  6]),
 array([63,  6]),
 array([131,   6]),
 array([133,   6]),
 array([134,   6]),
 array([16,  5]),
 array([22,  5]),
 array([49,  5]),
 array([60,  5]),
 array([87,  5]),
 array([138,   5]),
 array([1227,    5]),
 array([6, 4]),
 array([36,  4]),
 array([57,  4]),
 array([62,  4]),
 array([69,  4]),
 array([77,  4]),
 array([86,  4]),
 array([136,   4]),
 array([154,   4]),
 array([155,   4]),
 array([7, 3]),
 array([18,  3]),
 array([27,  3]),
 array([38,  3]),
 array([46,  3]),
 array([135,   3]),
 array([152,   3]),
 array([161,   3]),
 array([163,   3]),
 array([170,   3]),
 array([179,   3]),
 array([180,   3]),
 array([1233,    3]),
 array([2011,    3]),
 array([15,  2]),
 array([72,  2]),
 array([89,  2]),
 array([91,  2]),
 array([92,  2]),
 array([127,   2]),
 array([160,   2]),
 array([162,   2]),
 array([172,   2]),
 array([1, 1]),
 array([3, 1]),
 array([4, 1]),
 array([13,  1]),
 array([29,  1]),
 array([31,  1]),
 array([32,  1]),
 array([33,  1]),
 array([45,  1]),
 array([58,  1]),
 array([59,  1]),
 array([64,  1]),
 array([88,  1]),
 array([90,  1]),
 array([93,  1]),
 array([120,   1]),
 array([122,   1]),
 array([126,   1]),
 array([142,   1]),
 array([165,   1]),
 array([166,   1]),
 array([1219,    1]),
 array([0, 0])]