In [26]:
import numpy as np
import pandas as pd

In [3]:
X_culled = pd.read_excel("X_culled.xlsx")

In [4]:
X_culled.columns

Int64Index([   1,    2,    3,    4,    6,    7,    8,    9,   10,   11,
            ...
            1221, 1225, 1227, 1229, 1233, 2001, 2011, 2013, 2015, 2017],
           dtype='int64', length=179)

In [6]:
X_culled.head()

,1,2,3,4,6,7,8,9,10,11,...,1221,1225,1227,1229,1233,2001,2011,2013,2015,2017
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [8]:
X_culled.describe()

,1,2,3,4,6,7,8,9,10,11,...,1221,1225,1227,1229,1233,2001,2011,2013,2015,2017
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,...,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,0.007634,0.145038,0.007634,0.007634,0.030534,0.022901,0.091603,0.099237,0.221374,0.335878,...,0.114504,0.076336,0.038168,0.183206,0.022901,0.068702,0.022901,0.068702,0.305344,0.198473
std,0.087370,0.353491,0.087370,0.087370,0.172713,0.150161,0.289572,0.300127,0.416766,0.474109,...,0.319645,0.266554,0.192337,0.388320,0.150161,0.253918,0.150161,0.253918,0.462321,0.400381
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
#for column in X_culled.columns:
 #   print(X_culled[column].value_counts())

In [58]:
num_reg = 10

numb = np.array([[0, 0]])
for column in X_culled.columns:
    a = np.array([[column, len(X_culled[X_culled[column] == 1])]])
    numb = np.append(numb, a, axis=0)
    
def Sort(li): 
    return(sorted(li, key = lambda x: -x[1]))

numb = Sort(numb)
for i in range(num_reg):
    print(numb[i])

[108  57]
[114  55]
[80 54]
[115  54]
[78 53]
[79 52]
[109  50]
[101  49]
[102  49]
[106  49]